:root {
    --gray400: #94a3b8;

    --gray500: #6b7280;

    --gray300: #d1d5db;

    --indigo400: #818cf8;

    --indigo600: #4f46e5;

    --indigo800: #1e40af;

    --white: #FFFFFF;

    --red600: #dc2626;
}

*{
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid var(--gray400);
    border-radius: 4px;
    padding: 8px;
    outline: none;
    display: block;
    width: 100%;
}

.form-control:focus {
    border-color: var(--indigo600);
}

.form-label {
    margin-bottom: 4px;
    display: inline-block;
}

.form-error {
    margin-top: 4px;
    display: inline-block;
    color: var(--red600);
}

.form-check {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.form-select {
    appearance: none;
}

.form-check-input {
    height: 18px;
    width: 18px;
}

.btn {
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--indigo600);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--indigo800);
    color: var(--white);
}

.btn-primary:disabled {
    background-color: var(--indigo400);
    color: var(--white);
}

.card {
    border: 1px solid var(--gray400);
    border-radius: 4px;
    background-color: var(--white);
}

.card-header {
    border-bottom: 1px solid var(--gray500);
    padding: 16px 24px;
}

.card-body {
    padding: 24px;
}

.card-footer {
    border-top: 1px solid var(--gray500);
    padding: 16px 24px;
}

.form {
    max-width: 700px;
    margin: auto;
}

.form-title {
    font-weight: bold;
    color: var(--indigo600);
    font-size: 18px;
}